div.room {
    margin: 5px 10px;
    display: inline-block;
    width: 200px;
    border: 1px solid #aaabcc;
}

.room.is-booked {
    background-color: #aac;
}

.room .roomtitle {
    padding: 5px;
    border-bottom: 1px solid #bbb;
}

.room .persons {
    padding: 5px;
}

.room .adults, .room .childs {
    display: inline-block;
    margin: 5px;
}



.room .roomtitle input[type="checkbox"] {
    margin: 0 5px;
}

.room label, .room select {
    margin: 5px;
    display: block;
}

